#members{
  display: flex;
  flex-direction: column;
}

#members a {
  padding: 5px;
}

#memberInfo img {
  /* border: 1px solid black; */
  height: 10vh;
}

.logo {
  width: 10px;
}

#team {
  display: flex;
  flex-direction: column;
}